<span class="head">Confirm purchase</span>
<div class="purchase-info">
    <span>{{name}}</span>
    <span>{{qty}} x {{price}}</span>
    <span>Total: {{total}} lv</span>
    <input type="button" value="Confirm">
</div>